@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");


:root{
  --cor-principal: #10002b;
  --cor-secundaria: #f72585;
  --cor-terciaria: #4cc9f0;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-principal);
  color: var(--cor-terciaria);
}

.cabecalho{
  padding: 2% 0 0 15%;
}

.cabecalho__menu{
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link{
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-size: 1.5rem;
}

.titulo-destaque {
  color: var(--cor-secundaria);
}

.container {
  padding: 6% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.container__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.container__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.container__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.container__links__subtitulo{
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.container__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;

  border: 2px solid #22d4fd;
  width: 50%;
  text-align: center;
  border-radius: 8px;

  font-size: 1.5rem;
  padding: 21px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.container__links__link:hover{
  background-color: var(--cor-secundaria);
}

.container__imagem{
  width: 50%;
}

.rodape{
  color: #000;
  background-color: var(--cor-terciaria);
  padding: 24px;
  text-align: center;

  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
}

@media (max-width: 1200px) {
  .cabecalho{
    padding: 10%;
  }

  .cabecalho__menu{
    justify-content: center;
  }

  .container{
    flex-direction: column-reverse;
    padding: 5%;
  }

  .container__conteudo{
    width: auto;
  }
}